
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   
     box-sizing: border-box;
     
     font-family: "Poppins", sans-serif;
}
/*image oberline*/
  body{
    margin: 0;
    margin-right: 0;
  }
  

header .logo  img {
 
  width: 250px;
  height: auto;
  padding:  70px 30%;

}
header {

  display: flex;
  width: 100%;
  padding:  10px 8%;
  justify-content: space-between;
  align-items: center;
  height: 55px;

}
ul {
    
    display: flex;
    list-style: none;
    width: 50%;
   align-items: center;
    justify-content: space-between;
    
}
ul li a{
  color: black;
  text-decoration: none;
}
header ul li a:hover{
   color: orange;
   cursor: pointer;
   text-decoration: underline;
   padding: 2px;
   
    
    
}
.btn {
  
 
 
   width: 30%;
    display: flex;
    justify-content: end;
}
header .btn .boutton-connexion  {
 
  
  padding: 10px 20px;
   display: flex;
   color:black;
   border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  background-color: white;
  border: 1px;
   
  
}
header .btn .boutton-inscription  {
 
  
  padding: 10px 20px;
   display: flex;
   color:white;
   border-radius: 10px;
  cursor: pointer;
  border: 1px;
  background-color: #E65100;
   
  
}
.partie-a {
  background: url(images/banner-head-accueil.jpg);
  position: relative;
  height: 550px;
  width: 100%;
   background-size: cover; /*permet de garder la taille initiale d un element */
  
   
   background-position: bottom;
  
    

}

.partie-a .effet-ombre{
  position: absolute;
  width: 100%;
  background: #e651007e;
  height: 100%;
  
  padding: 150px;

}



.partie-a  .image-2 img {
    
    width: 450px; /*largeur*/
   height: 250px; /*hauteur*/
  
   border-radius: 20px;
   
   object-fit: cover;
   position: absolute;
   left: 600px;
   bottom: 25%;
  
  
}
.partie-a .image-2 a{
  
  border-radius:15px ;
  object-fit: cover;
  position: absolute;
  padding: 1px  25px;
  font-size: small;
  color: #E65100;
  background-color:rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 25px;
  margin-left: 680px;
 margin-top: -15%;
 
   
  
 

}

.partie-a   h1 span {
  color:orange;
  
  
}
.partie-a   h1 {
  color:white;
  
  
}

.partie-a  p {
 
 color: white;
 
}



.statistiques .sta span { 
  color: chocolate;
  font-weight: bold;
  font-size: 130%;
 
 
}


.statistiques .couleur-sta{
  background-color: #fff3e0;
 display: flex;
 justify-content: space-between;
  height: 200px;
   text-align: center;
  padding: 20px  150px;
  align-items: center;
  width: 100%;
  
 
   
   
}
.statistiques .couleur-sta .sta {
  background-color: white;
  border-radius: 10%;
  padding:  15px ;
  margin: 10px;
   
  height: 120px;
  width: 300px;
  
}
.partie-b .titre {
  text-align:center ;
}
.partie-b .service {
  
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px  150px;
 
  
}

.partie-b .service   p {
  color: darkgoldenrod;

}
.partie-b .service   span {
  color: #7e5a05;
  font-weight: bold;

}
.service  a{
  color: darkorange;
}

.partie-b .service .services-rest1{
  background-color: #ffb30065;
  border-radius: 10%;
  width: 850px;
  height: 195px;
  padding:15px 20px;
  margin-right: 2%;
  
}
.partie-b .service .services-rest2{
  background-color:#fff3e0 ;
  border-radius: 10%;
  width: 850px;
  height: 195px;
  padding:15px 20px;
  margin-right: 2%;
}
.partie-b .service .services-rest3{
  background-color: #ffb30065;
  border-radius: 10%;
  width: 850px;
  height: 195px;
  padding:15px 40px;
  margin-right: 2%;
}


.partie-c{
  background-color: #fff3e0;
  height: 400px;
  width: 100%;
  
  justify-content: center;
}
.partie-c h3{
  text-align: center;
  padding-top: 40px ;
  
}
.partie-c iframe {
  width: 600px;
  height: 300px;
  border-radius:10px;

  
  margin-left: 350px;
  padding-bottom: 25px;
    
}

.temoignage-list  h3{
  text-align: center;
  padding-left: 100px ;
 
}
.temoignage-list .temoignage {
 height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px  150px;
  background-color:rgba(252, 249, 249, 0.993);
  

}
.temoignage-list .temoignage p {
  font-size: small;
  font-style: italic;
}

.temoignage-list .temoignage .temoignage1{
 background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  padding:10px 20px;
  margin-right: 2%;
  margin-bottom: 50px;
  
}
.temoignage-list .temoignage .temoignage1 h6 span {
   margin-left:20px ;
    background-color: #e2ded3;
    height: 60px;
    width: 70px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    border: 1px solid yellow;
    font-size: medium;
    margin-right: 10px;
   
}
.temoignage-list .temoignage .temoignage2 h6 span {
   margin-left:20px ;
    background-color: #e4aa0c;
    height: 60px;
    width: 70px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    border: 1px solid yellow;
    font-size: medium;
    margin-right: 10px;
}
.temoignage-list .temoignage .temoignage3 h6 span {
    margin-left:20px ;
    background-color: #34eb06;
    height: 60px;
    width: 70px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    border: 1px solid yellow;
    font-size: medium;
    margin-right: 10px;
}
.temoignage-list .temoignage .note{
  margin-left:50px ;
  height: 5px;
  width: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1px 2px;
  
}
.temoignage-list .temoignage .note .note-etoilebla {
  height: 5px;
  width: 5px;
  display: flex;
  justify-content: space-between;
  padding: 1px 2px;
  
}
.temoignage-list .temoignage  i {
  color: rgb(233, 233, 7);
  width: 16px;
  margin-right: 5px;
  padding: 1px 2px;
  
}
.temoignage-list  .temoignage2  .note-etoilebla i {
  color: rgb(212, 212, 200);
  
}


.temoignage-list .temoignage .temoignage2{
   
background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  padding:10px 20px;
  margin-right: 2%;
}
.temoignage-list .temoignage .temoignage3{
    
background-color: white;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  padding:10px 20px;
  margin-right: 2%;

}

.commandes{
  background: url(images/banner-head-accueil.jpg);
  position: relative;
  height:350px;
  width: 100%;
   background-size: cover; /*permet de garder la taille initiale d un element */
  
    background-position: bottom;
    
  
    

}

.commandes .effet-ombre2{
  position: absolute;
  width: 100%;
  background: #e651007e;
  height: 100%;
  
  

}
.commandes h1  {
  color: whitesmoke;
  text-align: center;
}
.commandes p  {
  color: whitesmoke;
  text-align: center;
}
.commandes .boutton a {
  color: orangered;
  border: 1px solid orangered;
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
  text-decoration: none;
  
  
}
.commandes .boutton{
  padding: 20px 550px;
}
.renseignement{
  background-color: rgb(2, 2, 51);
  height:300px;
  width: 100%;


}
.renseignement .infos{
  padding: 10px  90px;
    display: flex;
 justify-content: space-between;
 
}
.renseignement .infos h6 {
  font-size: 80%;
  color: white;
}
.renseignement .infos p {
  font-size: small;
  color: white;
}
hr{
  width: 80%;
 border-top: 1px;
}
.renseignement .footer-a {
  color: white;
  text-align: center;
}
.space-traiteurs1{
  background: url(images/banner-caterers.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  
  position: relative;
  display: flex;
  justify-content: center;
  background-position: center;
  color: white;
 
}
.espace-traiteurs2{
   width: 100%;
  height: 250px;
  padding: 20px;
  background-color: #fff3e0;


 display: flex;
 justify-content: center;

 
}
 .option1 .choix{
  display: flex;
  
 justify-content: center;
}
.option1 .p-titres{
 margin-right: -90px;
}
.option1 .p-titrestrai{
  margin-right: -70px;
}
.option1 .choix select {
  border-radius: 10px;
  padding: 5px 4px;
  background-color:white;
  border: none;
 margin-left:1px ;
 margin-right:1px ;
  margin-top: 50px;
  width: 250px;
  height: 40px;
 
}
.btn-fi{
 
  width: 30%;
    display: flex;
   justify-content: space-between;
    height: 90px;
    align-items: center; 
   

}
.espace-traiteurs2 .titre-h2{
  margin-right: 100px;
  padding: 20px 5px;
}


.btn-filtrer{
   border-radius: 10px;
   padding: 10px 5px;
   display: flex;
   color:black;
  text-align: center;
  
   margin-left: 20px;
  cursor: pointer;
  
  background-color: orangered;
  border: 1px;
  cursor: pointer;
  margin-top: 50px;
   
}
.btn-reinitialiser{
   border-radius: 10px;
  padding: 10px 5px;
   display: flex;
   color:black;
   
  cursor: pointer;
  margin-left: 10px;
  background-color: white;
  border: 1px;
  margin-top: 50px;
}
.space-traiteurs1 .effet-ombre{
  position: absolute;
  width: 100%;
  background: #e6510057;
  height: 100%;
  
  padding: 100px;

}
.formulaire{
  height: 1800px;
  width: 100%;
   padding: 20px;
  background-color: #fff3e0;
}
.formulaire .formulaire-sous{
  display: block;
  justify-content: space-between;
  background-color: white;
  height: 1750px;
  width: 85%;
   padding: 50px;
   border-radius: 10px;
   margin-left: 90px;
   margin-top: 20px;
  
   
  

}
.formulaire-1 {
  background-color: white;
  height: 200px;
  width: 100%;
  padding: 30px 20px;
   border-radius: 10px;
  
   margin-bottom: 20px;
  box-shadow:10px 1px 1px 1px #f7f7f6;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
   
}

.formulaire-1 input{
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom:20px ;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 100px;
 
 
}
.formulaire .nom{
  text-align: left;
  margin-left: 20px;
}

.formulaire-2{
  background-color: white;
  height: 800px;
  width: 100%;

   border-radius: 10px;
   
   margin-bottom: 20px;
   box-shadow:10px 1px 1px 1px #f7f7f6;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(150px,1));
   padding: 10px 100px;
 
}
.cases {
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-right: 20px;
}
.formulaire-2 input, select, textarea{
   padding: 5px 0;
  border-radius: 5px;
  margin-bottom:20px ;
 background-color: white;
  margin-left: 20px;
  margin-right: 100px;
  width: 700px;

}
.noms {
  display: flex;
  width: 40px;
  padding: 0 50px;
}
.formulaire-3{
  background-color: white;
  height: 300px;
  width: 100%;
  margin-top: 210px;
   border-radius: 10px;
   padding: 10px 30px;
   margin-right: 10px;
  
  box-shadow:10px 1px 1px 1px #f7f7f6;
   display: block;
   
}
.formulaire-4{
  box-shadow:10px 1px 1px 1px #f7f7f6;
  padding: 10px 30px;
   margin-top: 20px;
   border-radius: 10px;
 
   
}
.btn-upload{
  box-shadow:10px 1px 1px 1px #d1d1d0;
  color: #E65100;
  border-radius: 10px;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
}
.boutton-inscrire{
  box-shadow:10px 1px 1px 1px #d1d1d0;
  color: white;
  background-color: #E65100;
  border-radius: 10px;
  padding: 10px 5px;
  border: none;
  width: 80px;
  margin-top: 20px;
  margin-left: 750px;
  cursor: pointer;
}
 .prestation{
  width: 100%;
  height: 500px;
 
  
  justify-content: space-between;
  background-color: #fff3e0;
}

.prestation .plat-image2{
   padding: 100px 80px ;
  border-radius: 10px;
  height: 50px;
  width: 1000px;
  margin-left: 150px;
  margin-top: -40px;
  background-color: white;
  
  
}

.prestation .plat-image1{
   padding: 100px 80px ;
  border-radius: 10px;
  height: 50px;
  width: 1000px;
  margin-left: 150px;
  margin-top: -40px;
  background-color: white;
  margin-bottom:50px;
}
.t-renseignees{
  display: grid;
   grid-template-columns: repeat(2,1fr);
   font-size: small;
   height: 240px;
   margin-top: -200px;
   text-align: right;
   margin-right: 90px;
   margin-left: -5px;


}

.plat-image1 img {
position: relative;
 margin-top: -150px;
  padding: 50px 70px;
 background-size: cover;
 margin-bottom: -60px;
 margin-left: -150px;
 height: 300px;
 }
.plat-image2 img {
position: relative;
 margin-top: -150px;
  padding: 50px 80px;
 background-size: cover;
 margin-bottom: -60px;
 margin-left: -170px;
 height: 300px;
 width: 455px;
 
 }

 .plat-image1 a {
  
  border-radius:15px ;
  object-fit: cover;
  position: absolute;
  padding: 1px  5px;
  font-size: small;
  color: #001402f1;
  background-color:rgba(14, 175, 54, 0.5);
  width: 100px;
  height: 25px;
  margin-left: -180px;
 margin-top: -90px;
 text-align: center;
  
 

 
 }
 .plat-image2 a {
  
  border-radius:15px ;
  object-fit: cover;
  position: absolute;
  padding: 1px  5px;
  font-size: small;
  color: #001402f1;
  background-color:rgba(14, 175, 54, 0.5);
  width: 100px;
  height: 25px;
  margin-left: -195px;
 margin-top: -90px;
 text-align: center;
 
 }
.button-verifie{
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(1, 1, 31);
  background-color: rgb(2, 2, 44);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
 position: absolute;
 margin-top: 150px;
 
 
 
}
.etoiles-etoile {
  position: absolute;
  margin-left: 400px;
  
}
.textex-gras{
  font-weight: bold;
  margin-right: 70px;
}
.p-titre{
  margin-right: -10px;
 
  color: rgb(165, 164, 164);
  font-weight: bolder;
}
.desc{
   margin-right: 20px;
 
  color: rgb(165, 164, 164);
  font-weight: small;
}
.prestation  span{
  background-color: rgb(202, 201, 201);
  border-radius: 15px;
  padding: 5px 5px;
  font-size: 10px;
  margin-right: 15px;
}
.num{
   margin-right: 20px;
   color: rgb(165, 164, 164);
}






